// @import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap');
$purp: #754EF9;
$dirtblue: #8A8FA3;
*{
  font-family: 'Comfortaa', cursive;
  scroll-behavior: smooth;
}
header{
  background: #fff;
  box-shadow: 1px 20px 15px -27px rgba(0, 0, 0, 0.75);
  padding: 20px 0;
}
.menu_bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .menu_toggler{
    font-size: 35px;
    color: #333;
    display: none;
  }
  .logo{
    color: $purp;
  }
  .menu{
    list-style: none;
    li{
      display: inline-block;
      margin: 0 20px;
      .active_link{
        color: $purp;
        font-weight: 700;
      }
      a{
        color: $dirtblue;
        font-weight: 500;
        transition: .3s ease;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          width: 3px;
          height: 0;
          top: -40px;
          background: $purp;
          left: 0;
          right: 0;
          margin: auto;
          transition: .3s ease;
        }
        &:hover{
          color: $purp;
          text-decoration: none;
          &:before{
            height: 30px;
          }
        }
      }
    }
  }
}
section,footer{
  margin-top: 96px;
}
.start{
  width: 100%;
  height: 700px;
  position: relative;
  // overflow: hidden;
  background: #EEEEEE;
  .red{
    top: 20%;
  }
  .blue{
    right: 10%;
    top: 30%;
  }
  .yellow{
    top: 20%;
    left: 40%;
  }
  .purp{
    bottom: 0;
    left: 30%;
  }
  .shape{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: .2s ease-out;
    img{
      width: 100%;
    }
  }
  .social{
    position: absolute;
    bottom: 0;
    // margin-top: 50px;
    ul{
      list-style: none;
      li{
        display: inline-block;
        margin: 0 20px;
        &:nth-child(1){
          a{
            color: #4875B4
          }
        }
        &:nth-child(2){
          a{
            color: #0088cc;
          }
        }
        &:nth-child(3){
          a{
            color: #333;
          }
        }
        a{
          font-size: 25px;
        }
      }
    }
  }
}
.btns{
  text-transform: uppercase;
  // font-size: 25px;
  padding: 10px 25px;
  width: 200px;
  border-radius: 60px;
  font-size: 15px;
  display: inline-block;
  font-weight: 700;
  transition: .5s ease;
  text-align: center;
}
.purp_btn{
  border: 1px solid $purp;
  background: $purp;
  color: #fff;
  &:hover{
    text-decoration: none;
    color: $purp;
    background: #ffffff;
  }
}
.transparent_btn{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  &:hover{
    background: rgba(255,255,255,0.3);
    color: #fff;
    text-decoration: none;
  }
}
.me{
  .info{
    h2{
      font-size: 55px;
      text-transform: uppercase;
      color: $purp;
    }
    h1{
      font-size: 75px;
      text-transform: uppercase;
      font-weight: 700;
    }
    h5{
      color: #8A8FA3;
    }
  }
}
.photo{
  position: relative;
  overflow: hidden;
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 15px solid $purp;
    left: 0;
  }
  img {
    width: 400px;
  }
}
.title{
  margin-bottom: 50px;
}
.title{
  text-align: center;
  h1{
    font-size: 55px;
    font-weight: bold;
  }
  cite, p{
    color: $dirtblue;
    font-size: 18px;
  }
}
.my_progress{
  font-family: 'Open Sans', sans-serif;
  .progress_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .progress_bar{
    width: 100%;
    background: #b8b8b8;
    height: 5px;
    position: relative;
    border-radius: 5px;
  }
  .progress_item{
    margin: 20px 0;
  }
  .progress_item:nth-child(1), .progress_item:nth-child(2){
    .progress_bar{
      &:after{
        content: '';
        position: absolute;
        top: 0;
        // left: 0;
        width: 90%;
        animation: nine 1.5s linear 1;
        height: 5px;
        background: $purp;
        border-radius: 5px;
      }
    }
  }
  .progress_item:nth-child(3){
    .progress_bar{
      &:after{
        content: '';
        position: absolute;
        top: 0;
        // left: 0;
        width: 75%;
        animation: sevenfive 1.5s linear 1;
        height: 5px;
        background: $purp;
        border-radius: 5px;
      }
    }
  }
  .progress_item:nth-child(4), .progress_item:nth-child(5), .progress_item:nth-child(6){
    .progress_bar{
      &:after{
        content: '';
        position: absolute;
        top: 0;
        // left: 0;
        width: 70%;
        animation: seven 1.5s linear 1;
        height: 5px;
        background: $purp;
        border-radius: 5px;
      }
    }
  }
}
.short_info{
  margin-top: 30px;
  p{
    font-size: 18px;
    i{
      color: $purp;
      font-size: 20px;
      margin-right: 10px;
    }
    .fa-map-marker{
      font-size: 30px;
    }
    span{
      color: $dirtblue;
    }
  }
}
.service_item{
  margin-top: 50px;
  background: #fdfdfd;
  box-shadow: 0px 0px 20px -14px rgba(0,0,0,0.75);
  text-align: center;
  padding: 50px 20px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  transition: .3s ease;
  &:hover{
    background: #fcfcfc;
    box-shadow: 0px 0px 36px -14px rgba(0,0,0,0.75);
  }
  .icon{
    color: $purp;
    font-size: 50px;
  }
  h3{
    font-weight: bold;
    color: #333;
    font-size: 25px;
  }
  p{
    color: #8A8FA3;
  }
}
.hire{
  
  padding: 60px 0;
  position: relative;
  .hire_bg,.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hire_bg{
    background-image: url(../images/hire.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(117, 78, 249,0.7);
    z-index: 2;
  }
  .hire_content{
    z-index: 3;
    position: relative;
    text-align: center;
    color: #fff;
  }
}

.certificate{
  .title{
    margin-bottom: 50px;
    a{
      color: $purp;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.works{
  .work_item{
    position: relative;
    &:hover{
      .work_cover{
        opacity: 1;
        pointer-events: all;
      }
    }
    .work_cover{
      transition: .3s ease;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(117, 78, 249,0.9);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      pointer-events: none;
      h4{
        color: #fff;
      }
      .line{
        width: 100px;
        height: 2px;
        background: #ffffff;
      }
      .round_btn{
        color: #fff;
        display: inline-block;
        margin-top: 20px;
        padding-top: 10px;
        font-size: 20px;
        width: 50px;
        height: 50px;
        text-align: center;
        border: 1px solid #EEEEEE;
        border-radius: 50%;
        transition: .3s ease;
        &:hover{
          background: #fff;
          color: $purp;
        }
      }
    }
    img{
      width: 100%;
      height: 320px;
      object-fit: cover;
    }
  }
}
.contact{
  .contact_item{
    background: #fdfdfd;
    box-shadow: 0px 0px 20px -14px rgba(0,0,0,0.75);
    text-align: center;
    padding: 50px 20px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    transition: .3s ease;
    height: 250px;
    &:hover{
      background: #fcfcfc;
      box-shadow: 0px 0px 36px -14px rgba(0,0,0,0.75);
    }
    .icon{
      font-size: 50px;
    }
  }
}
footer{
  background: #1c2940;
  color: #fff;
  padding: 15px 0 5px 0;
}

@keyframes nine{
  from{
    width: 0;
  }
  to{
    width: 90%;
  }
}
@keyframes sevenfive{
  from{
    width: 0;
  }
  to{
    width: 75%;
  }
}
@keyframes seven{
  from{
    width: 0;
  }
  to{
    width: 70%;
  }
}
.menu.active{
  transform: translateX(0);
}
#close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 28px;
  transition: .3s ease;
  &:hover{
    transform: rotate(90deg);
  }
}
@media screen and (min-width: 992px){
  #close{
    display: none;
  }
}
@media screen and (max-width: 992px){
  .certificate .title{
    h1{
      font-size: 25px;
    }
  }
  .photo{
    display: none;
  }
  .certificate_item, .work_item, .contact_item{
    margin-top: 30px;
  }
  .menu_bar .menu_toggler{
    display: block;
  }
  .start{
    height: 500px;
    padding-top: 100px;
  }
  .menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline-start: 0;
    box-shadow: 12px 0px 51px -40px rgba(0,0,0,0.75);
    transform: translateX(-1200px);
    transition: .3s ease;
    li{
      display: block;
      padding-top: 50px;
      a{
        display: inline-block;
        &:before{
          display: none;
        }
      }
    }
  }
}